body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333333;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4{
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header-container */
nav a{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:white;
    text-decoration: none;
}

/* intro */
.intro {
    height: 100vh;
    width: 100%;
    background: url("../assets/img/header.jpg") center no-repeat;
    background-size: cover ;
}
/* header */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header_logo{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}



